<div class="flex flex-col items-center text-center">
  <picture class="mb-4">
    <img
      src="/images/logo-light.png"
      alt="Practical Accessibility"
      class="h-36 w-36 rounded-full dark:hidden"
      width="144"
      height="144"
    >

    <img
      src="/images/logo-dark.png"
      alt="Practical Accessibility"
      class="hidden h-36 w-36 rounded-full dark:block"
      width="144"
      height="144"
    >
  </picture>

  <h1 class="text-4xl font-extrabold">
    {{ .Site.Params.Author.name | default .Site.Title }}
  </h1>

  {{ with .Site.Params.Author.headline }}
    <h2 class="mt-2 text-xl">
      {{ . | markdownify }}
    </h2>
  {{ end }}

  {{ with .Site.Params.Author.bio }}
    <p class="mt-3">
      {{ . | markdownify }}
    </p>
  {{ end }}

  {{ partialCached "author-links.html" . }}

  <section class="mt-8 w-full">
    {{ .Content }}
  </section>

  {{ partial "recent-articles/main.html" . }}
</div>